// COLORS
$color-primary: #4e73df;
$color-success: #1cc88a;
$color-info: #36b9cc;
$color-warning: #f6c23e;
$color-danger: #e74a3b;
$color-secondary: #858796;
$color-light: #f8f9fc;
$color-dark: #5a5c69;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

