.user {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    grid-column-gap: 2px;
    align-items: center;
    justify-items: end;
    cursor: pointer;
    transition: all .2s ease-out;

    &::before {
        content: "";
        height: 70%;
        width: 1px;
        display: block;
        background-color: $color-secondary;
        opacity: .5;
        margin-right: 3rem;
        border-radius: 100px;
    }

    &__img {
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 50%;
        object-fit: cover;
        object-position: top;
    }

    &__name {
        color: $color-secondary;
        opacity: .7;
        font-size: 1.4rem;
        font-weight: normal;
        font-family: $font-primary;

        &:hover {
            color: $color-dark;
            opacity: 1;
        }
    }
  
}