*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%;
}

body {
    box-sizing: border-box;
    color: $color-dark;
    font-weight: 300;
    line-height: 1.6;
}

.container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 7rem minmax(calc(100vh - 7rem), min-content) min-content;
    grid-template-columns: 22.4rem 1fr;
}