.header-card {
    padding: 1.6rem 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    border-bottom: 1px solid #e3e6f0;
    background-color: #f8f9fc;
}

.body-card {
    width: 100%;
    border: none;
    padding: 2rem;
}

.title {
    grid-column: 1 / 2;
    font-size: 1.6rem;
    font-weight: 700;
    color: #4e73df;
    font-family: $font-display;
}

.icon {
    grid-column: 2 / 3;
    width: 5px;
    fill: #e3e6f0;
    cursor: pointer;
    justify-self: end;
}

.text {
    font-size: 1.6rem;
    font-weight: 400;
    color: $color-secondary;
}

.bottomLine {
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.342);
}

.iconSideBar {
    width: 1.4rem;
    height: 1.4rem;
    margin-right: .7rem;
    fill: rgba(255,255,255,.3);
}

.textSpanSideBar {
    font-family: $font-display;
    color: rgba(255,255,255,.7);
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 3px;
}

.iconArrow {
    width: 1.4rem;
    height: 1.4rem;
    fill: rgba(255,255,255,.3);
    transform: rotate(0);
    transition: all .3s;
}